Repository SciCatProject/scicat-backend-next, pull requests merged in 2023-11, with the labels that each got.

#859 Add: added elastic search aggregation to query facet objects
  src/common/utils.ts
  src/datasets/datasets.service.ts
  src/elastic-search/elastic-search.service.ts
  src/elastic-search/helpers/utils.ts
  src/elastic-search/interfaces/es-common.type.ts
  src/elastic-search/providers/fields.enum.ts
  src/elastic-search/providers/query-builder.service.ts
Labels: enhancement

#844 Release - Jobs DTO (#622)
  package-lock.json
  package.json
  src/elastic-search/helpers/utils.ts
  src/jobs/dto/create-job.dto.ts
  src/jobs/dto/update-job.dto.ts
  src/jobs/dto/update-jobstatus.dto.ts
Labels: Release Jobs

#905 Release jobs, defining job schema
  src/jobs/schemas/job.schema.ts
Labels: Release Jobs

#910 test: add some extra tests for creating datasets including pid with right access groups
  .github/workflows/test.yml
  test/DatasetAuthorization.js
Labels: review: please
